@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@400;700&family=Josefin+Sans&display=swap');

::-webkit-scrollbar {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  max-width: 100%;
  object-fit: cover;
  display: flex;
  align-items: center;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  /* font-family: 'Cormorant Infant', serif; */
  font-family: 'Josefin Sans', sans-serif;
  min-width: 320px;
  color: #555555;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-size: 20px;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}

.btn {
  font-family: 'Josefin Sans', sans-serif;
  border: 1px solid #e1b168;
  padding: 20px 57px;
  color: #e1b168;
  font-size: 22px;
  line-height: 33px;
  background: transparent;
  cursor: pointer;
  transition: all 0.4s;
}

.btn:hover {
  color: #fff;
  background: #e1b168;
}

.title {
  font-family: 'Cormorant Infant', serif;
  line-height: 56px;
  font-weight: 400;
  font-size: 40px;
  color: #292e36;
}

.subtitle {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #555555;
}
