.title {
    font-family: 'Cormorant Infant', serif;
    line-height: 56px;
    font-weight: 400;
    font-size: 40px;
    color: #292e36;
  }
  
  .text {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #555555;
  }

  .btn {
    font-family: 'Josefin Sans', sans-serif;
    border: 1px solid #e1b168;
    padding: 20px 57px;
    color: #e1b168;
    font-size: 22px;
    line-height: 33px;
    background: transparent;
    cursor: pointer;
    transition: all 0.4s;
  }

  .btn:hover {
    color: #fff;
    background: #e1b168;
  }
  